<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <%= render partial: "epiclock" %>
    <div id="flights-container"></div>
</div>

<%= javascript_include_tag "flights_websocket.js" %>