<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <%= link_to 'Add new flight', flights_create_path, class: "btn btn-primary btn-lg button-link float-right-button"%>
    <div class="clear"></div>
    <div id="flights_table">
      <%= render partial: "flights_table" %>
    </div>
</div>