<tr>
  <th scope="row"><%= airplane.id %></th>
  <td><%= airplane.model_name %></td>
  <td><%= airplane.registration_number %></td>
  <td><%= link_to 'Show Flights', airplane_show_path(airplane) %></td>
</tr>