
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/assets/glyphicons-halflings-regular.eot');
    src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.ui-helper-hidden-accessible{ display:none; }

.simple_form.new_flight input[type=text], .simple_form.new_flight button, 
.simple_form.edit_flight input[type=text], .simple_form.edit_flight button {
  margin-top: 15px !important;
}

.button-link {
  text-decoration: none !important;
  color: white !important;
}

.datetime_picker.required.control-label {
  display: none;
}

.clear { clear: both; }

.float-right-button { float: right; margin: 10px 0; }

.table-title { padding: 10px !important; font-size: 18px; }

.dashed-border { border: 1px dashed #dadada; padding: 20px; }

.centered { text-align: center; }

.flights-empty-container { font-size: 20px; margin-top: 200px; }

.clock-container { font-size: 34px; color: #3071a9; font-weight: bold; }

.left { float: left;}

.utc { margin-left: 15px; }

.login-form-container { border: 1px solid rgba(0,0,0,.2); padding: 15px; border-radius: 8px; border-color: #ddd; background-color: #fdfdfd; }
.login-form-container label { display: none; }
.login-form-container input[type=password], .login-form-container input[type=email] { margin: 5% 10% 0 10%; width: 80%; }
.login-form-container input[type=submit] { margin-left: 69%; margin-bottom: 20px; }
body.logged-out { margin-top: 200px; }
body.logged-out .alert.alert-danger { width: 80%; margin-left: 10%; display: none; }
.simple_form.new_flight #registration_number { width: 99%; }
.navbar-brand { margin-bottom: 0; }
.logout-button:hover { background-color: #3071a9 !important; }
.logout-button { margin: 9px; line-height: 0 !important; height: 32px !important; }
form .clearfix:before, form .clearfix:after {
  display: inline;
}